/**************** Global Styles************/

* {
	margin: 0;
	padding: 0;
	overflow-x: hidden;
}

@media screen and (max-width: 1499px) {
	html {
		font-size: 15px;
	}
}

@media screen and (min-width: 1500px) and (max-width: : 1920px) {
	html {
		font-size: 0.90px;
	}
}

@media screen and (min-width: 1921px) {
	html {
		font-size: 22px;
	}
}

/**********HEADER************/

.page-head { 
	padding: 0.7rem;
	width: 100%;
	background-color: hsl(193,14%,12%);
	color: hsl(0,0%,100%);
}

.website-name {
	float:left;
	height: 2.4rem;
	display: flex;
	align-items: center;
	justify-content: center;
	/*font-family: 'Roboto', sans-serif;*/
	font-family: 'Ubuntu', sans-serif;
}

.website-name h3 {
	flex: 1 0 0;
	font-weight: 400;
	letter-spacing: 0.05rem;
}

.right-nav {
	float: right;
	display: flex;
	flex-direction: row-reverse;
	margin-right: 3rem;	
	align-items: center;
}

.profile-pic{
	height: 2.4rem;
	width: auto;
	border-radius: 50%;
	margin-left: 2rem;
}

form.search-bar {
	display: inline;
	flex: 2 0 0;
}

form.search-bar input {
	height: 2.4em;
	width: 13rem;
	border-radius: 25px;
	outline: 0;
	border: 0;
	background-image: url('images/search.png');
	background-repeat: no-repeat;
	background-position: 11.5rem 0.3rem;
	background-size: 1.5rem 1.5rem;
	padding:0 0.5rem;	
}

/***********LEFT NAV***************/

main {
	width: 100%;
	display: flex;
	height: 100vh;
}

.left-nav {
	font-weight: 300;
	flex: 1 0 0;
	background-color: hsl(192,13%,16%);
	color: white;
	font-family: 'Ubuntu', sans-serif;
	display: flex;
	flex-flow: column;
}
.main-nav ,.filter-nav {
	font-size: 0.9rem;
}

.nav-head {
	font-weight: 900;
	padding: 1rem 3.5rem;
	font-size: 0.65rem;
	color: hsl(190,8%,31%);
}

.nav-item {
	padding: 1rem 2.5rem;
	display: flex;
	align-items: center;
	justify-content: center;
	color: hsl(190,8%,50%);
}

.nav-item i{
	flex: 1 0 0;
	font-size: 1.2rem;
	text-align: center;
}

.nav-item div{ 
	text-align: left;
	flex: 3 0 0;
	text-decoration: none;
}





.user-space {
	flex: 4 0 0;
}