/********* Global Styles ************/

* {
	margin: 0;
	padding: 0;
	overflow-x: hidden;
}

@media screen and (max-width: 1499px) {
	html {
		font-size: 15px;
	}
}

@media screen and (min-width: 1500px) and (max-width: 1920px) {
	html {
		font-size: 0.85vw;
	}
}

@media screen and (min-width: 1921px) {
	html {
		font-size: 22px;
	}
}

/********* Quix Protal Styles **********/

.nav-container {
  position: fixed;
  min-height: 100vh;
  width: 100vw;
}

  .menu-button {
    position: absolute;
    display: inline-block;
    top: 1rem;
    right: 1rem;
    z-index: 500;
  }

    .menu-button span {
      color: #bbbbbb;
      font-size: 1.75rem;
      cursor: pointer;
      transition: color 0.2s;
    }

    .menu-button span:hover {
      color: #eeeeee;
    }

  .navigate {
    position: absolute;
    display: inline-block;
    height: 100vh;
    display: flex;
    align-items: center;
    z-index: 10;
  }

    .navigate span {
      font-size: 1.8rem;
      color: #cccccc;
      padding: 0.8rem;
      padding-top: 1.1rem;
      margin-top: 2rem;
      background: rgba(140, 140, 140, 0.7);
      border-radius: 1px;
      cursor: pointer;
      transition: color 0.3s;
    }

    .navigate span:hover {
      color: #ffffff;
    }

  .left-navigate {
    left: 0;
  }

  .right-navigate {
    right: 0;
  }


.main-container {
  position: absolute;
}

.quiz-portal {
  width: 100vw;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: rgba(0, 0, 0, 0.85); fixed;
  position: relative;
}

  .quiz-head {
    height: 18rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: #dddddd;
  }

    .page-heading {
      padding-bottom: 2rem;
      font-family: 'Lato';
      font-size: 2.6rem;
    }

    .page-description {
      font-family: 'Roboto';
      font-weight: 300;
      font-size: 1.2rem;
      letter-spacing: 0.05rem;
      color: #bbbbbb;
    }

  .question-containers {
    width: 75vw;
    height: 35rem;
    background: transparent;
    border-radius: 0.4rem;
  }

  .question-container {
    width: 75vw;
    min-height: 30rem;
    background: transparent;
    border-radius: 0.4rem;
    position: absolute;
    display: none;
  }

    .question {
      height: 9rem;
      background: rgba(10, 10, 10, 0.7);
      padding: 1.5rem;
    }

      .question-title {
        font-family: 'Roboto';
        font-size: 1.5rem;
        color: #cccccc;
        padding-left: 2rem;
        padding-top: 1rem;
        overflow: hidden;
      }

      .question-description {
        font-family: 'Roboto';
        font-size: 1.25rem;
        font-weight: 300;
        color: #cccccc;
        padding: 1rem 0 0 2rem;
      }

    .option-container {
      min-height: 14rem;
      background: rgba(10, 10, 10, 0.5);
      display: flex;
      flex-wrap: wrap;
    }

      .options {
        flex-basis: 50%;
        min-height: 6rem;
        padding: 2rem 2rem;
        box-sizing: border-box;
      }

      .option-text {
        color: #dddddd;
        display: flex;
        align-items: center;
      }

        .option-label {
          font-family: 'Roboto';
          font-weight: 300;
          font-size: 1.2rem;
          padding-left: 1.6rem;
        }

          .option-label span {
            font-weight: 400;
            font-size: 1.3rem;
          }

        .check-box {
          display: inline-flex;
          width: 1.8rem;
          height: 1.8rem;
          border-radius: 100%;
          border: 0.3rem solid #aaaaaa;
          margin-left: 1rem;
          justify-content: center;
          align-items: center;
          cursor: pointer;
        }

        .checked {
          color: #0DFF92;
          border-color: #0DFF92;
        }

          #checked {
            width: 1.2rem;
            height: 1.2rem;
            border-radius: 100%;
            background: #0DFF92;
          }

  .submit-button button {
    border-style: none;
    padding: 0.9rem 2rem;
    font-size: 1.4rem;
    font-family: 'Roboto';
    background: #333333;
    color: #cccccc;
    cursor: pointer;
    border: 1px solid #999999;
  }
